* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
}

ul {
  li {
    list-style: none;
    margin: 0;
  }
}

#app {
  position: absolute;
  top: 0;
  left: 0;
}

#webgl{
  width: 100vw;
  height: 100vh;
}

.u-hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: visibility 0.4s linear, opacity 0.4s linear !important;
}
